name: Deploy Node App to EC2

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            cd /home/ec2-user || exit 1

            if [ ! -d "QuizCortex--Quiz-app----MERN-STACK------Backend" ]; then
              git clone https://github.com/deepikadevaraj421/QuizCortex--Quiz-app----MERN-STACK------Backend.git
            fi

            cd QuizCortex--Quiz-app----MERN-STACK------Backend || exit 1
            git pull origin master

            sudo npm install -g pm2

            cat <<EOF > .env
            MONGO_URI=${{ secrets.MONGO_URI }}
            PORT=5000
            JWT_SECRET=${{ secrets.JWT_SECRET }}
            EOF

            npm install

            pm2 delete quizcortex-api || true
            pm2 start server.js --name quizcortex-api
            pm2 save
